.contact-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
